@import "../../global.scss";

.indicator-container1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include mobile {
    justify-content: space-between;
  }

  .poverty-ind {
    .heading-container {
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 40px;
        margin-top: 90px;

        @include mobile {
          font-size: 35px;
          overflow: hidden;
        }
      }

      img {
        height: 70px;
        width: 65px;
        margin-left: 1020px;
      }
    }

    h3 {
      font-size: 24px;

      @include mobile {
        font-size: 14px;
        overflow: hidden;
      }
    }

    h3 {
      font-size: 18px;

      @include mobile {
        font-size: 10px;
        overflow: hidden;
      }
    }
  }
}
