@import "../../global.scss";

.home {
    background-color: white;
    display: flex;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        
        @include mobile {
            flex: .65;                
        }
        
        .imgContainer {
            width: 600px;
            height: 600px;
            background-color: rgb(192, 66, 91);
            opacity: 1;
            border-radius: 50%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            float: left;
        }

        img {
            height: 100%;
            width: 100%;
            opacity: 90%;
            border-radius: 50%;
            display: inherit;
        }
    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                padding: 0;
            }

            h1 {
                font-style: 60px;
                margin: 10px 0;

                @include mobile {
                    font-style: 20px;
                }
            }
            h2 {
                font-style: 25px;
            }
            h3 {
                font-size: 25px;

                @include mobile {
                    font-style: 25px;
                }

                span {
                    font-size: inherit;
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }
        a {
            position: absolute;
            bottom: 10px;
            left: 40%;

            img {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }
        }
    }
}